<div class="question-holder" ng-controller="multi2Controller">
	<style>
		.mpole1 {
			position: absolute; top: 200px; left: 280px; width: 25px; height: 76%;
		}
		.portrait .mpole1 {
			left: 200px; width: 20px; height: 52%;
		}
		.mback {
			position: absolute; top: 10px; left: 0px; width: 540px;
		}
		.portrait .mback {
			left:0px; width: 370px;
		}
		.mquestion-block {
			position: absolute; top: 178px; left: 50px; width: 470px; height:130px; font-size: 160%; transform: rotate(-2deg);
		}
		.portrait .mquestion-block {
			top: 123px;
			left: 50px;
			width: 280px;
			height: 90px;
			font-size: 115%;
		}
		.apole1 {
			position: absolute; top: 430px; left: 65px; width: 220px; height: 10px;
		}
		.portrait .apole1 {
			top: 295px; left: 50px; width: 152px; height: 7px;
		}
		.apole2 {
			position: absolute; top: 400px; left: 300px; width: 210px; height: 10px;
		}
		.portrait .apole2 {
			top: 305px; left: 220px; width: 145px; height: 7px;
		}
		.apole3 {
			position: absolute; top: 545px; left: 65px; width: 220px; height: 10px;
		}
		.portrait .apole3 {
			top: 395px; left: 50px; width: 152px; height: 7px;
		}
		.apole4 {
			position: absolute; top: 505px; left: 300px; width: 210px; height: 10px;
		}
		.portrait .apole4 {
			top: 405px; left: 220px; width: 145px; height: 7px;
		}
		.aanswer1 {
			position:absolute; width:275px; height: 97px; top: 435px; left: 10px;
		}
		.portrait .aanswer1 {
			width: 170px; height: 60px; top: 300px; left: 30px;
		}
		.portrait .aanswer1 .answer-button, .portrait .aanswer2 .answer-button, .portrait .aanswer3 .answer-button, .portrait .aanswer4 .answer-button {
			background-size: contain; height: 60px; font-size: 14px;
		}
		.abadge1 {
			position: absolute; left: -60px; top: 435px;
		}
		.portrait .abadge1 {
			left: 0px; top: 260px; width: 70px; height: 68px;
		}
		.portrait .abadge1 img, .portrait .abadge2 img, .portrait .abadge3 img, .portrait .abadge4 img {
			width: 50px; height: 50px; left: 10px; top: 5px;
		}
		.aanswer2 {
			position:absolute; width:275px; height: 97px; top: 550px; left: 10px;
		}
		.portrait .aanswer2 {
			width: 170px; height: 60px; top: 400px; left: 30px;
		}
		.abadge2 {
			position: absolute; left: -60px; top: 550px;
		}
		.portrait .abadge2 {
			left: 0px; top: 360px; width: 70px; height: 68px;
		}
		.aanswer3 {
			position:absolute; width:275px; height: 97px; top: 405px; left: 320px;
		}
		.portrait .aanswer3 {
			width: 170px; height: 60px; top: 310px; left: 230px;
		}
		.abadge3 {
			position: absolute; left: 550px; top: 405px;
		}
		.portrait .abadge3 {
			left: 340px; top: 270px; width: 70px; height: 68px;
		}
		.aanswer4 {
			position:absolute; width:275px; height: 97px; top: 510px; left: 320px;
		}
		.portrait .aanswer4 {
			width: 170px; height: 60px; top: 410px; left: 230px;
		}
		.abadge4 {
			position: absolute; left: 550px; top: 510px;
		}
		.portrait .abadge4 {
			left: 340px; top: 371px; width: 70px; height: 68px;
		}
		@media (max-width: 350px) {
			.portrait .mback {
				left: 0px;
				width: 320px;
				top: 0px;
			}
			.portrait .mquestion-block {
				top: 95px;
				left: 45px;
				width: 240px;
				height: 80px;
				font-size: 105%;
				line-height: 120%;
			}
			.portrait .mpole1 {
				left: 162px;
				width: 18px;
				height: 52%;
				top: 170px;
			}
			.portrait .apole1 {
				top: 230px;
				left: 19px;
				width: 145px;
				height: 6px;
			}
			.portrait .apole2 {
				top: 245px;
				left: 179px;
				width: 114px;
				height: 6px;
			}
			.portrait .aanswer1 {
				width: 145px;
				height: 50px;
				top: 234px;
				left: 0px;
			}
			.portrait .aanswer1 .answer-button, .portrait .aanswer2 .answer-button, .portrait .aanswer3 .answer-button, .portrait .aanswer4 .answer-button {
				font-size: 12px;
				height: 51px;
			}
			.portrait .abadge1 {
				left: 0px;
				top: 182px;
				width: 70px;
				height: 68px;
			}
			.portrait .apole3 {
				top: 340px;
				left: 19px;
				width: 145px;
				height: 6px;
			}
			.portrait .aanswer2 {
				width: 145px;
				height: 50px;
				top: 344px;
				left: 0px;
			}
			.portrait .abadge2 {
				left: 0px;
				top: 292px;
				width: 70px;
				height: 68px;
			}
			.portrait .aanswer3 {
				width: 145px;
				height: 50px;
				top: 249px;
				left: 177px;
			}
			.portrait .apole4 {
				top: 360px;
				left: 178px;
				width: 114px;
				height: 6px;
			}
			.portrait .abadge3 {
				left: 250px;
				top: 196px;
				width: 70px;
				height: 68px;
			}
			.portrait .aanswer4 {
				width: 145px;
				height: 50px;
				top: 365px;
				left: 177px;
			}
			.portrait .abadge4 {
				left: 250px;
				top: 314px;
				width: 70px;
				height: 68px;
			}
		}
	</style>
	<img class="mpole1" src="/images/pole1.png" />
	<img class="mback" src="/questions/multi1/back.png" />
	<img class="apole1" src="/images/pole2.png" />
	<img class="apole2" src="/images/pole2.png" />
	<img class="apole3" src="/images/pole2.png" />
	<img class="apole4" src="/images/pole2.png" />
	
	<div answer-button="" incorrect="incorrectAnswers[0]" class="yellow_answer_button trap1 aanswer1" label="answerPeople[0].display.name" background="/images/button_yellow_trap1.png" ng-click="guess1()"
	show-arrow="correctAnswers[0]">
	</div>
	<div avatar-badge ng-show="answerPeople[0].portrait &&  answerPeople[0].portrait!='/images/unknown_sil.png'" src="answerPeople[0].portrait" class="avatar ancestor-avatar abadge1"></div>

	<div answer-button="" incorrect="incorrectAnswers[1]" class="yellow_answer_button trap1 aanswer2" label="answerPeople[1].display.name" background="/images/button_yellow_trap1.png" ng-click="guess2()"
	show-arrow="correctAnswers[1]">
	</div>
	<div avatar-badge ng-show="answerPeople[1].portrait &&  answerPeople[1].portrait!='/images/unknown_sil.png'" src="answerPeople[1].portrait" class="avatar ancestor-avatar abadge2"></div>

	<div answer-button="" incorrect="incorrectAnswers[2]" class="yellow_answer_button trap1 aanswer3" label="answerPeople[2].display.name" background="/images/button_yellow_trap1.png" ng-click="guess3()"
	show-arrow="correctAnswers[2]">
	</div>
	<div avatar-badge ng-show="answerPeople[2].portrait &&  answerPeople[2].portrait!='/images/unknown_sil.png'" src="answerPeople[2].portrait" class="avatar ancestor-avatar abadge3"></div>

	<div answer-button="" incorrect="incorrectAnswers[3]" class="yellow_answer_button trap1 aanswer4" label="answerPeople[3].display.name" background="/images/button_yellow_trap1.png" ng-click="guess4()"
	show-arrow="correctAnswers[3]">
	</div>
	<div avatar-badge ng-show="answerPeople[3].portrait &&  answerPeople[3].portrait!='/images/unknown_sil.png'" src="answerPeople[3].portrait" class="avatar ancestor-avatar abadge4"></div>
	
	<div class="question-block mquestion-block nobackground noborder">
		{{questionText}}
	</div>
</div>