<div class="question-holder" ng-controller="mapController as mc" style="max-width: 90%;">
	
	<div class="question-block map-fact-question">
		{{questionText}}
		<div id="allFacts" style="margin-top: 5px;">
			<div class="map-fact movable" map-fact="" place="place" ng-repeat="place in question.places track by $index">
			</div>
		</div>
		<div avatar-badge ng-if="question.person.portrait" class="avatar ancestor-avatar" src="question.person.portrait" 
			style="position: absolute; left: 90%; top: 0px;"></div>
	</div>
	
	<ng-map class="fact-map">
		<custom-marker class="fact-place" ng-repeat="place in question.places track by $index"
			id="fact-{{$index}}" position="{{place.pos}}">
			<div>
				{{place.display.fullName}}
			</div>
			<div class="fact-holder" map-fact-holder="" place="place">
			</div>
		</custom-marker>
	</ng-map>
	<!--
	<ul>
		<li ng-repeat="fact in question.places track by $index">fact-{{$index}} 
			{{fact.pos}} {{fact.display.fullName}}
		</li>
	</ul>
	-->
</div>