<div class="question-holder" ng-controller="connectController">
	<style>
		.connect-question-block {
			width: 95%; max-width: 500px; margin-left: auto; margin-right: auto;
		}
		@media (max-width: 350px) {
			font-size: medium;
		}
	</style>
	<div class="question-block connect-question-block">
		{{questionText}}
	</div>
	
	<div class="connect-tree-block">
		<div ng-if="complete" class="connect-correct-block">
			<div avatar-badge class="avatar ancestor-avatar" 
				src="question.person.portrait"></div>
			<div class="relationship-label">
				{{relationshipText}}
			</div>
		</div>
		<div ng-repeat="level in levels" style="min-height: 70px;">
			<svg style="position: absolute; width: 100px; height: 90px; left: 37%;">
				<line x1="0" y1="20" x2="50" y2="90" style="stroke:#157376;stroke-width:3" ng-if="level.css=='connect-center'"></line>
				<line x1="100" y1="20" x2="50" y2="90" style="stroke:#157376;stroke-width:3" ng-if="level.css=='connect-center'"></line>
				<line x1="50" y1="20" x2="50" y2="90" style="stroke:#157376;stroke-width:3" ng-if="level.css!='connect-center'"></line>
				<line x1="0" y1="50" x2="50" y2="90" style="stroke:#157376;stroke-width:3" ng-if="level.css=='connect-right'"></line>
				<line x1="100" y1="50" x2="50" y2="90" style="stroke:#157376;stroke-width:3" ng-if="level.css=='connect-left'"></line>
			</svg>
			<div ng-class="level.css">
				<div avatar-badge ng-click="selectLevel(level, level.parent1, $index)" class="avatar ancestor-avatar avatar-small clickable" 
					src="level.parent1.portrait" label="level.parent1.display.name"></div>
				<div avatar-badge ng-click="selectLevel(level, level.parent2, $index)" class="avatar ancestor-avatar avatar-small clickable" 
					src="level.parent2.portrait" label="level.parent2.display.name"></div>
			</div>
			<div ng-if="level.person.id==question.startPerson.id" avatar-badge class="avatar ancestor-avatar avatar-small" src="level.person.portrait" label="level.person.display.name"></div>
		</div>
	</div>
</div>