<div class="text-center" ng-controller="liveJoinGame">
	<div class="title-holder" style="margin-bottom:20px;">
		<img src="/images/create_game.png" style="height: 55px;" />
		<div class="smaller-logo" style="left: -80px; top: -80px;">
			<img id="home_arrows" src="/images/home_arrow1.png" />
			<img id="home_sign" src="/images/home_sign.png" />
		</div>
	</div>
    <div ng-if="!genQuizRound" class="tree text-center">
         <form class="form">
            <div class="form-group">
                <label>Enter GenQuiz game id:</label>
                <input type="text" class="input-group" ng-model="genQuizId" />
                <div ng-show="idError" class="alert alert-danger">{{idError}}</div>
            </div>
            <div class="form-group">
                <label>Enter your name:</label>
                <input type="text" ng-model="playerName" placeholder="Name" class="form-control" />
                <div ng-show="nameError" class="alert alert-danger">{{nameError}}</div>
            </div>
            <div class="form-group">
                <button class="btn btn-primary" ng-click="joinGame()">Join!</button>
            </div>
        </form>
    </div>
    <div ng-if="!genQuizRound" class="tree text-center">
        <div style="line-height: 70px; margin-bottom: 20px;">
            <div style="display: inline-block; margin: 10px;">
                <strong>Successfully joined GenQuiz game for {{person.display.name}}.</strong>
            </div>
            <div style="display: inline-block;" avatar-badge class="avatar ancestor-avatar avatar-small" src="person.portrait" label="person.display.name"></div>
        </div>
        <h4>Waiting for next question...</h4>
    </div>
    <div>
		<a class="arrow-button" href="#" ng-click="leaveGame()" style="width: 230px;">
			<img src="/images/button_sign_arrow_left.png" />
			<div class="button-text">Back to Home</div>
		</a>
    </div>
</div>