<div class="text-center" ng-controller="liveCreateGame">
	<div class="live-title text-center">
		<img class="logo" src="/live/t_logo_d.png" />
		<img class="title-img" src="/images/create_game.png" />
	</div>
	<div class="center-div">
		<div class="stages">
			<a class="stage" ng-class="{'active': step==1}" href="#/live-create-game" ng-click="showStep(1)">1. <span class="stage-label">Choose</span></a>
			<a class="stage" ng-class="{'active': step==2}" href="#/live-create-game" ng-click="showStep(2)">2. <span class="stage-label">Setup</span></a>
			<a class="stage" ng-class="{'active': step==3}" href="#/live-create-game" ng-click="showStep(3)">3. <span class="stage-label">Publish</span></a>
			<a class="stage" ng-class="{'active': step==4}" href="#/live-create-game" ng-click="showStep(4)">4. <span class="stage-label">Invite</span></a>
		</div>
		<div ng-if="step==1">
			<div ng-show="mode=='loading'" class="tree">
				<img src="/images/loading1.png" />
			</div>
			<div ng-show="mode=='search'" class="tree text-center">
				<p>
					Search for someone to be the central person for your GenQuiz Live game<br /> 
					or <a href="#/live-create-game" ng-click="mode='tree'">select from your tree</a>.
				</p>
				<!-- provide search feature -->
				<form class="form-inline">
					<div class="form-group" style="margin-right: 20px; margin-bottom: 10px;">
						<input type="text" ng-model="search.givenName" placeholder="First name" style="width: 120px;" class="form-control" />
						<input type="text" ng-model="search.surname" placeholder="Last name" style="width: 120px;" class="form-control" />
					</div>
					<div class="form-group" style="margin-right: 10px; margin-bottom: 10px;">
						<input type="text" ng-model="search.birthDate" placeholder="Birth date" style="width: 120px;" class="form-control" />
						<input type="text" ng-model="search.birthPlace" placeholder="Birth place" style="width: 120px;" class="form-control" />
					</div>
					<div class="form-group" style="margin-right: 20px; margin-bottom: 10px;">
						<input type="text" ng-model="search.id" placeholder="ID" style="width: 90px;" class="form-control" />
					</div>
					<div class="form-group" style="margin-right: 10px; margin-bottom: 10px;">
						<div class="btn-group" role="group">
							<button type="button" ng-click="search.gender=''" class="btn" ng-class="{'btn-primary': search.gender=='', 'btn-default': search.gender!=''}">Any</button>
							<button type="button" ng-click="search.gender='male'" class="btn" ng-class="{'btn-primary': search.gender=='male', 'btn-default': search.gender!='male'}">Male</button>
							<button type="button" ng-click="search.gender='female'" class="btn" ng-class="{'btn-primary': search.gender=='female', 'btn-default': search.gender!='female'}">Female</button>
						</div>
					</div>
						<button class="btn btn-primary" ng-click="searchForPerson()">Search</button>
				</form>
				<div ng-show="search.error" class="alert alert-danger">{{search.error}}</div>
				<div ng-show="search.results.length>0">
					<div class="score-row search-row clickable" ng-repeat="entry in search.results" ng-click="selectPerson(entry.content.gedcomx.persons[0])">
						<div style="display: inline-block;">
							<div avatar-badge class="avatar ancestor-avatar avatar-small clickable" src="entry.content.gedcomx.persons[0].portrait"
							></div>
							<span style="font-size: 12px">
							<br />{{entry.content.gedcomx.persons[0].display.gender}}
							</span>
						</div>
						<div class="search-details">
							<a href="#/live-create-game"><strong>{{entry.content.gedcomx.persons[0].display.name}}</strong></a>
							<div style="font-size: 12px;">
							{{entry.content.gedcomx.persons[0].display.birthDate}}
							<br />{{entry.content.gedcomx.persons[0].display.birthPlace}}
							</div>
						</div>
					</div>
				</div>
			</div>
			<div ng-show="mode=='tree'" class="tree text-center">
				<p>Select someone from your tree to be the central person for your GenQuiz Live! game
				or <a href="#/live-create-game" ng-click="mode='search'">search for someone</a> else.</p>
				<div ng-if="!portrait" class="ancestor-row">
					<div avatar-badge ng-repeat="n in [8,9,10,11,12,13,14,15]" class="avatar ancestor-avatar avatar-small clickable" src="tree[n].portrait" 
						label="tree[n].display.name" ng-click="selectPerson(tree[n])" ng-class-even="'spacer'"></div>
				</div>
				<div class="ancestor-row">
					<div avatar-badge ng-repeat="n in [4,5,6,7]" class="avatar ancestor-avatar avatar-small clickable {{n==5?'large-spacer':''}}" src="tree[n].portrait" 
						label="tree[n].display.name" ng-click="selectPerson(tree[n])"></div>
				</div>
				<div class="ancestor-row">
					<div avatar-badge ng-repeat="n in [2,3]" class="avatar ancestor-avatar avatar-small clickable" src="tree[n].portrait" 
						label="tree[n].display.name" ng-click="selectPerson(tree[n])"></div>
				</div>
				<div class="ancestor-row">
					<div avatar-badge class="avatar ancestor-avatar avatar-small clickable" src="tree[1].portrait" label="tree[1].display.name" 
						ng-click="selectPerson(tree[1])"></div>
				</div>
			</div>
		</div>
	</div>
	<div ng-if="step==2">
		<div class="tree text-center">
			<div style="margin-bottom: 20px;">
				<div style="display: inline-block; margin: 10px;">
					Set the properties of your GenQuiz game for {{person.display.name}}.
				</div>
				<div style="display: inline-block;" avatar-badge class="avatar ancestor-avatar avatar-small" src="person.portrait" label="person.display.name"></div>
			</div>
			<form class="text-left" style="width: 450px;margin-left: auto;margin-right: auto;">
				<div class="form-group">
					<label class="control-label">Number of questions?</label>
					<div class="btn-group" role="group">
						<button type="button" ng-click="questions=5" class="btn" ng-class="{'btn-primary': questions==5, 'btn-default': questions!=5}">5</button>
						<button type="button" ng-click="questions=10" class="btn" ng-class="{'btn-primary': questions==10, 'btn-default': questions!=10}">10</button>
						<button type="button" ng-click="questions=15" class="btn" ng-class="{'btn-primary': questions==15, 'btn-default': questions!=15}">15</button>
						<button type="button" ng-click="questions=20" class="btn" ng-class="{'btn-primary': questions==20, 'btn-default': questions!=20}">20</button>
						<button type="button" ng-click="questions=25" class="btn" ng-class="{'btn-primary': questions==25, 'btn-default': questions!=25}">25</button>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">Difficulty Level</label>
					<div class="btn-group" role="group">
						<button type="button" ng-click="difficulty=2" class="btn" ng-class="{'btn-primary': difficulty==2, 'btn-default': difficulty!=2}">Easy</button>
						<button type="button" ng-click="difficulty=3" class="btn" ng-class="{'btn-primary': difficulty==3, 'btn-default': difficulty!=3}">Medium</button>
						<button type="button" ng-click="difficulty=5" class="btn" ng-class="{'btn-primary': difficulty==5, 'btn-default': difficulty!=5}">Hard</button>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">Include living relatives?</label>
					<div class="btn-group" role="group">
						<button type="button" ng-click="showLiving=true" ng-disabled="person.living" class="btn" ng-class="{'btn-primary': showLiving, 'btn-default': !showLiving}">Yes</button>
						<button type="button" ng-click="showLiving=false" ng-disabled="person.living" class="btn" ng-class="{'btn-primary': !showLiving, 'btn-default': showLiving}">No</button>
					</div>
				</div>
			</form>
		</div>
	</div>
	<div ng-if="step==3">
		<div class="tree text-center">
			<div style="margin-bottom: 10px;">
				<div style="display: inline-block; margin: 10px;">
					<p><strong>Ready to publish your GenQuiz game for {{person.display.name}}.</strong></p>
				</div>
				<div style="display: inline-block;" avatar-badge class="avatar ancestor-avatar avatar-small" src="person.portrait" label="person.display.name"></div>
			</div>
			<div style="margin-bottom: 30px">
				Your GenQuiz game id is:
				<div genquiz-id="" gen-quiz-round="genQuizRound" spellcheck="false"> </div>
				<p>Share this GenQuiz id with others who wish to join your game.</p>
			</div>
			<div style="margin-bottom: 30px">
				<form class="form">
					<div>
						Enter your name:
					</div>
					<div>
						<input type="text" ng-model="genQuizRound.creator" placeholder="Name" class="editable-id text-center" style="width: 300px;" />
					</div>
				</form>
			</div>
			<div>
				<p>Publishing your game will make it available for others you invite to join.</p>
			</div>
		</div>
	</div>
	<div ng-if="step==4">
		<div class="tree text-center">
			<div style="margin-bottom: 10px;">
				Your GenQuiz game id is:
				<strong>{{genQuizRound.id}}</strong>
				<p>Share this GenQuiz id with others who wish to join your game.</p>
			</div>
			<div>
				<div style="display: inline-block; margin: 10px;">
					<strong>Waiting for players to join GenQuiz game for {{person.display.name}}.</strong>
				</div>
				<div avatar-badge class="avatar ancestor-avatar avatar-small inline-avatar" src="person.portrait" label="person.display.name"></div>
			</div>
			<div>
				<ul class="players">
					<li ng-repeat="player in players">{{player.name}}</li>
				</ul>
			</div>
		</div>
	</div>
	<div>
		<div class="clickable neonbutton" ng-click="leaveGame()">
			<img src="/live/back_button_off.png" neon-image="" delay="500" />
		</div>
		<div class="buttonspacer">&nbsp;</div>
		<div ng-if="step==1" class="buttonspacer">&nbsp;</div>
		<div ng-if="step==1" class="buttonspacer">&nbsp;</div>
		<div ng-if="step==1" class="buttonspacer">&nbsp;</div>
		<div ng-if="step==2" class="clickable neonbutton" ng-click="showStep(3)">
			<img src="/live/continue_button_off.png" neon-image="" delay="500" />
		</div>
		<div ng-if="step==3 && !genQuizRound.error" class="clickable neonbutton" ng-click="showStep(4)">
			<img src="/live/publish_button_off.png" neon-image="" delay="500" />
		</div>
		<div ng-if="step==4 && !genQuizRound.error && genQuizRound.ready" class="clickable neonbutton" ng-click="startGame()">
			<img src="/live/start_button_off.png" neon-image="" delay="500" />
		</div>
	</div>
</div>