<div class="text-center" ng-controller="liveGenQuiz">
	<div>
		<div class="text-center question-details">
			<div class="timer">
				<span ng-show="minute >= 0">{{minute}}:<span ng-show="second<10">0</span>{{second}}</span>
			</div>
			<div class="guage" guage=""
				min="0" max="maxQuestions" value="currentQuestion" label="Questions" missed-questions="missedQuestions"></div>
			<div class="letter-skip-holder">
				<div class="letter" uib-tooltip="{{letterTooltip}}">{{question.letter}}</div>
				<div class="clickable neonbutton" ng-click="skip()">
					<img src="/live/skip_button_off.png" neon-image="" delay="500" />
				</div>
				<div ng-show="question.canReset" class="clickable neonbutton" ng-click="reset()">
					<img src="/live/reset_button_off.png" neon-image="" delay="500" />
				</div>
			</div>
		</div>
		
		<div ng-show="question.isReady" class="outer-question-holder" question="question"></div>
		<div ng-show="!question.isReady" loading-sign="" class="loading-sign center-div" style="position: relative; top: 250px; width:250px; height: 170px;"></div>
	</div>
</div>