<div class="text-center" ng-controller="liveWait">
    <div class="live-title text-center">
		<img class="logo" src="/live/t_logo_d.png" />
		<img class="title-img" src="/live/waiting.png" />
	</div>
    <div class="tree text-center">
        <div style="margin-bottom: 10px;">
            <div style="display: inline-block; margin: 10px;">
                <strong ng-if="!allScored">Waiting for players to finish question...</strong>
                <strong ng-if="allScored">Continue to view the next question...</strong>
            </div>
        </div>
        <div style="width: 300px; margin-left: auto; margin-right: auto;">
            <table class="player-table">
                <tr ng-repeat="player in playerArray | orderBy: '-score'">
                    <td>
                        <img ng-if="$index==0" src="/images/gold_medal.png" class="score-medal" />
                        <img ng-if="$index==1" src="/images/silver_medal.png" class="score-medal" />
                        <img ng-if="$index==2" src="/images/bronze_medal.png" class="score-medal" />
                    </td>
                    <td>{{player.name}}</td>
                    <td>
                        <span ng-show="scoredPlayers[player.id]">{{player.score | number:0}}</span>
                        <img ng-show="!scoredPlayers[player.id]" src="/images/clock.png" />
                    </td>
                </tr>
            </table>
        </div>
    </div>
    <div style="margin-bottom: 200px;">
        <div class="clickable neonbutton" ng-click="leaveGame()">
			<img src="/live/leave_button_off.png" neon-image="" delay="500" />
		</div>
        <div class="buttonspacer">&nbsp;</div>
        <div class="clickable neonbutton" ng-click="nextQuestion()">
			<img src="/live/continue_button_off.png" neon-image="" delay="500" />
		</div>
	</div>
</div>
<div class="wide-b" banner-ad="">
</div>