<div class="text-center" ng-controller="liveCreateGame">
	<div class="live-title text-center">
		<img class="logo" src="/live/t_logo_d.png" />
		<img class="title-img" src="/live/create_genquiz.png" />
	</div>
	<div class="center-div">
		<div class="stages">
			<a class="stage" ng-class="{'active': step==1}" href="#/live-create-game" ng-click="showStep(1)">1. <span class="stage-label">Choose</span></a>
			<a class="stage" ng-class="{'active': step==2}" href="#/live-create-game" ng-click="showStep(2)">2. <span class="stage-label">Setup</span></a>
			<a class="stage" ng-class="{'active': step==3}" href="#/live-create-game" ng-click="showStep(3)">3. <span class="stage-label">Publish</span></a>
			<a class="stage" ng-class="{'active': step==4}" href="#/live-create-game" ng-click="showStep(4)">4. <span class="stage-label">Invite</span></a>
		</div>
		<div ng-if="step==1">
			<div ng-show="mode=='loading'" class="tree">
				<img src="/images/loading1.png" />
			</div>
			<div ng-show="mode=='search'" class="tree text-center">
				<p>
					Search for someone to be the central person for your GenQuiz Live game<br /> 
					or <a href="#/live-create-game" ng-click="mode='tree'">select from your tree</a>.
				</p>
				<!-- provide search feature -->
				<form class="form-inline">
					<div class="form-group">
						<input type="text" ng-model="search.givenName" placeholder="First name" class="form-control" />
						<input type="text" ng-model="search.surname" placeholder="Last name" class="form-control" />
					</div>
					<div class="form-group">
						<input type="text" ng-model="search.birthDate" placeholder="Birth date" class="form-control" />
						<input type="text" ng-model="search.birthPlace" placeholder="Birth place" class="form-control" />
					</div>
					<div class="form-group">
						<input type="text" ng-model="search.id" placeholder="ID" class="form-control" />
					</div>
					<div class="form-group">
						<div class="btn-group" role="group">
							<button type="button" ng-click="search.gender=''" class="btn" ng-class="{'btn-primary': search.gender=='', 'btn-default': search.gender!=''}">Any</button>
							<button type="button" ng-click="search.gender='male'" class="btn" ng-class="{'btn-primary': search.gender=='male', 'btn-default': search.gender!='male'}">Male</button>
							<button type="button" ng-click="search.gender='female'" class="btn" ng-class="{'btn-primary': search.gender=='female', 'btn-default': search.gender!='female'}">Female</button>
						</div>
					</div>
						<button class="btn btn-primary" ng-click="searchForPerson()">Search</button>
				</form>
				<div ng-show="search.error" class="alert alert-danger">{{search.error}}</div>
				<div ng-show="search.results.length>0">
					<div class="score-row search-row clickable" ng-repeat="entry in search.results" ng-click="selectPerson(entry.content.gedcomx.persons[0])">
						<div style="display: inline-block;">
							<div avatar-badge class="avatar ancestor-avatar avatar-small clickable" src="entry.content.gedcomx.persons[0].portrait"
							></div>
							<span style="font-size: 12px">
							<br />{{entry.content.gedcomx.persons[0].display.gender}}
							</span>
						</div>
						<div class="search-details">
							<a href="#/live-create-game"><strong>{{entry.content.gedcomx.persons[0].display.name}}</strong></a>
							<div style="font-size: 12px;">
							{{entry.content.gedcomx.persons[0].display.birthDate}}
							<br />{{entry.content.gedcomx.persons[0].display.birthPlace}}
							</div>
						</div>
					</div>
				</div>
			</div>
			<div ng-show="mode=='tree'" class="tree text-center">
				<p>Select someone from your tree
				or <a href="#/live-create-game" ng-click="mode='search'">search for someone</a> else.</p>
				<div class="tree-inner">
				<div class="tree-row-holder" ng-repeat="(key,level) in arrowLevels">
					<div ng-if="!portrait" class="text-left" style="position: relative; z-index: 1;height: 30px;">
						<div class="arrow-div">
							<img ng-click="arrowClicked(level*2, key+1)" src="/live/arrow.png" ng-if="showArrow(level*2)" />
						</div>
						<div class="arrow-div">
							<img ng-click="arrowClicked(2+level*2, key+1)" src="/live/arrow.png" ng-if="showArrow(2+level*2)" />
						</div>
						<div class="arrow-div">
							<img ng-click="arrowClicked(4+level*2, key+1)" src="/live/arrow.png" ng-if="showArrow(4+level*2)" />
						</div>
						<div class="arrow-div">
							<img ng-click="arrowClicked(6+level*2, key+1)" src="/live/arrow.png" ng-if="showArrow(6+level*2)" />
						</div>
					</div>
					<div ng-if="portrait" class="text-left" style="position: relative; z-index: 1;height: 30px;">
						<div class="arrow-div">
							<img ng-click="arrowClicked(level, key+1)" src="/live/arrow.png" ng-if="showArrow(level)" />
						</div>
						<div class="arrow-div">
							<img ng-click="arrowClicked(2+level, key+1)" src="/live/arrow.png" ng-if="showArrow(2+level)" />
						</div>
					</div>
					<div class="ancestor-row" ng-if="!portrait">
						<svg style="position: absolute;width: 580px;height: 250px; z-index:0;">
							<line x1="65" y1="30" x2="65" y2="110" style="stroke:#157376;stroke-width:3"></line>
							<line x1="65" y1="110" x2="85" y2="110" style="stroke:#157376;stroke-width:3"></line>
	
							<line x1="213" y1="30" x2="213" y2="110" style="stroke:#157376;stroke-width:3"></line>
							<line x1="200" y1="110" x2="213" y2="110" style="stroke:#157376;stroke-width:3"></line>
	
							<line x1="130" y1="110" x2="150" y2="110" style="stroke:#157376;stroke-width:3"></line>
	
							<line x1="360" y1="30" x2="360" y2="110" style="stroke:#157376;stroke-width:3"></line>
							<line x1="360" y1="110" x2="380" y2="110" style="stroke:#157376;stroke-width:3"></line>
	
							<line x1="508" y1="30" x2="508" y2="110" style="stroke:#157376;stroke-width:3"></line>
							<line x1="495" y1="110" x2="508" y2="110" style="stroke:#157376;stroke-width:3"></line>
	
							<line x1="425" y1="110" x2="445" y2="110" style="stroke:#157376;stroke-width:3"></line>
	
							<line x1="138" y1="110" x2="138" y2="160" style="stroke:#157376;stroke-width:3"></line>
							<line x1="434" y1="110" x2="434" y2="160" style="stroke:#157376;stroke-width:3"></line>
							
							<line x1="138" y1="160" x2="434" y2="160" style="stroke:#157376;stroke-width:3"></line>
							<line x1="297" y1="160" x2="297" y2="180" style="stroke:#157376;stroke-width:3"></line>
						</svg>
						<div avatar-badge ng-repeat="n in [0,1,2,3,4,5,6,7]" class="avatar ancestor-avatar avatar-small clickable" src="tree[n+level*2].portrait" 
						label="tree[n+level*2].display.name" ng-click="selectPerson(tree[n+level*2])" ng-class-even="'spacer'"></div>
					</div>
					<div class="ancestor-row">
						<svg ng-if="portrait" style="position: absolute;width: 380px;height: 160px; z-index:0;">
							<line x1="60" y1="30" x2="110" y2="30" style="stroke:#157376;stroke-width:3"></line>
							<line x1="85" y1="30" x2="85" y2="90" style="stroke:#157376;stroke-width:3"></line>
							<line x1="85" y1="90" x2="300" y2="90" style="stroke:#157376;stroke-width:3"></line>
	
							<line x1="270" y1="30" x2="330" y2="30" style="stroke:#157376;stroke-width:3"></line>
							<line x1="300" y1="30" x2="300" y2="90" style="stroke:#157376;stroke-width:3"></line>
	
							<line x1="192" y1="90" x2="192" y2="120" style="stroke:#157376;stroke-width:3"></line>
						</svg>
						<div avatar-badge class="avatar ancestor-avatar avatar-small clickable" src="tree[level].portrait" 
							label="tree[level].display.name" ng-click="selectPerson(tree[level])"></div>
						<div avatar-badge class="avatar ancestor-avatar avatar-small clickable large-spacer" src="tree[level+1].portrait" 
							label="tree[level+1].display.name" ng-click="selectPerson(tree[level+1])"></div>
						<div avatar-badge class="avatar ancestor-avatar avatar-small clickable" src="tree[level+2].portrait" 
							label="tree[level+2].display.name" ng-click="selectPerson(tree[level+2])"></div>
						<div avatar-badge class="avatar ancestor-avatar avatar-small clickable spacer" src="tree[level+3].portrait" 
							label="tree[level+3].display.name" ng-click="selectPerson(tree[level+3])"></div>
					</div>
				</div>
				<div ng-if="!portrait" class="text-left" style="position: relative; z-index: 1;">
					<div class="arrow-div">
						<img ng-click="arrowClicked(8, arrowLevels.length-1)" src="/live/arrow.png" ng-if="showArrow(8)" />
					</div>
					<div class="arrow-div">
						<img ng-click="arrowClicked(10, arrowLevels.length-1)" src="/live/arrow.png" ng-if="showArrow(10)" />
					</div>
					<div class="arrow-div">
						<img ng-click="arrowClicked(12, arrowLevels.length-1)" src="/live/arrow.png" ng-if="showArrow(12)" />
					</div>
					<div class="arrow-div">
						<img ng-click="arrowClicked(14, arrowLevels.length-1)" src="/live/arrow.png" ng-if="showArrow(14)" />
					</div>
				</div>
				<div ng-if="portrait" class="text-left" style="position: relative; z-index: 1;">
					<div class="arrow-div">
						<img ng-click="arrowClicked(4, arrowLevels.length-1)" src="/live/arrow.png" ng-if="showArrow(4)" />
					</div>
					<div class="arrow-div">
						<img ng-click="arrowClicked(6, arrowLevels.length-1)" src="/live/arrow.png" ng-if="showArrow(6)" />
					</div>
				</div>
				<div ng-if="!portrait" class="ancestor-row">
					<svg style="position: absolute;width: 580px;height: 250px;">
  						<line x1="65" y1="30" x2="65" y2="110" style="stroke:#157376;stroke-width:3"></line>
  						<line x1="65" y1="110" x2="85" y2="110" style="stroke:#157376;stroke-width:3"></line>
  
  						<line x1="213" y1="30" x2="213" y2="110" style="stroke:#157376;stroke-width:3"></line>
  						<line x1="200" y1="110" x2="213" y2="110" style="stroke:#157376;stroke-width:3"></line>
  
  						<line x1="130" y1="110" x2="150" y2="110" style="stroke:#157376;stroke-width:3"></line>
  
  						<line x1="360" y1="30" x2="360" y2="110" style="stroke:#157376;stroke-width:3"></line>
  						<line x1="360" y1="110" x2="380" y2="110" style="stroke:#157376;stroke-width:3"></line>
  
  						<line x1="508" y1="30" x2="508" y2="110" style="stroke:#157376;stroke-width:3"></line>
  						<line x1="495" y1="110" x2="508" y2="110" style="stroke:#157376;stroke-width:3"></line>
  
  						<line x1="425" y1="110" x2="445" y2="110" style="stroke:#157376;stroke-width:3"></line>
  
  						<line x1="138" y1="110" x2="138" y2="190" style="stroke:#157376;stroke-width:3"></line><line x1="434" y1="110" x2="434" y2="190" style="stroke:#157376;stroke-width:3"></line>
  						
  						<line x1="138" y1="190" x2="250" y2="190" style="stroke:#157376;stroke-width:3"></line><line x1="350" y1="190" x2="434" y2="190" style="stroke:#157376;stroke-width:3"></line>
  						<line x1="297" y1="190" x2="297" y2="250" style="stroke:#157376;stroke-width:3"></line>
					</svg>
					<div avatar-badge ng-repeat="n in [8,9,10,11,12,13,14,15]" class="avatar ancestor-avatar avatar-small clickable" src="tree[n].portrait" 
						label="tree[n].display.name" ng-click="selectPerson(tree[n])" ng-class-even="'spacer'"></div>
				</div>
				<div class="ancestor-row">
					<svg ng-if="portrait" style="position: absolute;width: 380px;height: 200px;">
						<line x1="60" y1="30" x2="110" y2="30" style="stroke:#157376;stroke-width:3"></line>
  						<line x1="85" y1="30" x2="85" y2="110" style="stroke:#157376;stroke-width:3"></line>
  						<line x1="85" y1="110" x2="130" y2="110" style="stroke:#157376;stroke-width:3"></line>
  
						<line x1="270" y1="30" x2="330" y2="30" style="stroke:#157376;stroke-width:3"></line>
  						<line x1="300" y1="30" x2="300" y2="110" style="stroke:#157376;stroke-width:3"></line>
  						<line x1="250" y1="110" x2="300" y2="110" style="stroke:#157376;stroke-width:3"></line>
  
  						<line x1="170" y1="110" x2="210" y2="110" style="stroke:#157376;stroke-width:3"></line>
  						<line x1="192" y1="110" x2="192" y2="180" style="stroke:#157376;stroke-width:3"></line>
					</svg>
					<div avatar-badge class="avatar ancestor-avatar avatar-small clickable" src="tree[4].portrait" 
						label="tree[4].display.name" ng-click="selectPerson(tree[4])"></div>
					<div avatar-badge class="avatar ancestor-avatar avatar-small clickable large-spacer" src="tree[5].portrait" 
						label="tree[5].display.name" ng-click="selectPerson(tree[5])"></div>
					<div avatar-badge class="avatar ancestor-avatar avatar-small clickable" src="tree[6].portrait" 
						label="tree[6].display.name" ng-click="selectPerson(tree[6])"></div>
					<div avatar-badge class="avatar ancestor-avatar avatar-small clickable spacer" src="tree[7].portrait" 
						label="tree[7].display.name" ng-click="selectPerson(tree[7])"></div>
				</div>
				<div class="ancestor-row">
					<div avatar-badge ng-repeat="n in [2,3]" class="avatar ancestor-avatar avatar-small clickable" src="tree[n].portrait" 
						label="tree[n].display.name" ng-click="selectPerson(tree[n])"></div>
				</div>
				<div class="ancestor-row">
					<div avatar-badge class="avatar ancestor-avatar avatar-small clickable" src="tree[1].portrait" label="tree[1].display.name" 
						ng-click="selectPerson(tree[1])"></div>
				</div>
			</div>
		</div>
		</div>
	</div>
	<div ng-if="step==2">
		<div class="tree text-center">
			<div style="margin-bottom: 20px;">
				<div style="display: inline-block; margin: 10px;">
					Set the properties of your GenQuiz game for {{person.display.name}}.
				</div>
				<div style="display: inline-block;" avatar-badge class="avatar ancestor-avatar avatar-small" src="person.portrait" label="person.display.name"></div>
			</div>
			<form class="text-left" style="width: 450px;margin-left: auto;margin-right: auto;">
				<div class="form-group">
					<label class="control-label">Number of questions?</label>
					<div class="btn-group" role="group">
						<button type="button" ng-click="questions=5" class="btn" ng-class="{'btn-primary': questions==5, 'btn-default': questions!=5}">5</button>
						<button type="button" ng-click="questions=10" class="btn" ng-class="{'btn-primary': questions==10, 'btn-default': questions!=10}">10</button>
						<button type="button" ng-click="questions=15" class="btn" ng-class="{'btn-primary': questions==15, 'btn-default': questions!=15}">15</button>
						<button type="button" ng-click="questions=20" class="btn" ng-class="{'btn-primary': questions==20, 'btn-default': questions!=20}">20</button>
						<!--
						<button type="button" ng-click="questions=25" class="btn" ng-class="{'btn-primary': questions==25, 'btn-default': questions!=25}">25</button>
						-->
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">Difficulty Level</label>
					<div class="btn-group" role="group">
						<button type="button" ng-click="difficulty=2" class="btn" ng-class="{'btn-primary': difficulty==2, 'btn-default': difficulty!=2}">Easy</button>
						<button type="button" ng-click="difficulty=3" class="btn" ng-class="{'btn-primary': difficulty==3, 'btn-default': difficulty!=3}">Medium</button>
						<button type="button" ng-click="difficulty=5" class="btn" ng-class="{'btn-primary': difficulty==5, 'btn-default': difficulty!=5}">Hard</button>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">Include living relatives?</label>
					<div class="btn-group" role="group">
						<button type="button" ng-click="showLiving=true" ng-disabled="person.living" class="btn" ng-class="{'btn-primary': showLiving, 'btn-default': !showLiving}">Yes</button>
						<button type="button" ng-click="showLiving=false" ng-disabled="person.living" class="btn" ng-class="{'btn-primary': !showLiving, 'btn-default': showLiving}">No</button>
					</div>
				</div>
			</form>
		</div>
	</div>
	<div ng-if="step==3">
		<div class="tree text-center">
			<div style="margin-bottom: 10px;">
				<div style="display: inline-block; margin: 10px;">
					<p><strong>Ready to publish your GenQuiz game for {{person.display.name}}.</strong></p>
				</div>
				<div style="display: inline-block;" avatar-badge class="avatar ancestor-avatar avatar-small" src="person.portrait" label="person.display.name"></div>
			</div>
			<div style="margin-bottom: 30px">
				Your GenQuiz game id is:
				<div genquiz-id="" gen-quiz-round="genQuizRound" spellcheck="false"> </div>
				<p>Share this GenQuiz id with others who wish to join your game.</p>
			</div>
			<div style="margin-bottom: 30px">
				<form class="form">
					<div>
						Enter your name:
					</div>
					<div>
						<input type="text" ng-model="genQuizRound.creator" placeholder="Name" class="editable-id text-center" style="width: 300px;" />
					</div>
				</form>
			</div>
			<div>
				<p>Publishing your game will make it available for others you invite to join.</p>
			</div>
		</div>
	</div>
	<div ng-if="step==4">
		<div class="tree text-center">
			<div style="margin-bottom: 10px;">
				Your GenQuiz game id is:
				<strong>{{genQuizRound.id}}</strong>
				<p>Share this GenQuiz id with others who wish to join your game.</p>
			</div>
			<div>
				<div style="display: inline-block; margin: 10px;">
					<strong>Waiting for players to join GenQuiz game for {{person.display.name}}.</strong>
				</div>
				<div avatar-badge class="avatar ancestor-avatar avatar-small inline-avatar" src="person.portrait" label="person.display.name"></div>
			</div>
			<div>
				<ul class="players">
					<li ng-repeat="player in players">{{player.name}}</li>
				</ul>
			</div>
		</div>
	</div>
	<div>
		<div class="clickable neonbutton" ng-click="leaveGame()">
			<img src="/live/back_button_off.png" neon-image="" delay="500" />
		</div>
		<div class="buttonspacer">&nbsp;</div>
		<div ng-if="step==1" class="buttonspacer">&nbsp;</div>
		<div ng-if="step==1" class="buttonspacer">&nbsp;</div>
		<div ng-if="step==1" class="buttonspacer">&nbsp;</div>
		<div ng-if="step==2" class="clickable neonbutton" ng-click="showStep(3)">
			<img src="/live/continue_button_off.png" neon-image="" delay="500" />
		</div>
		<div ng-if="step==3 && !genQuizRound.error" class="clickable neonbutton" ng-click="showStep(4)">
			<img src="/live/publish_button_off.png" neon-image="" delay="500" />
		</div>
		<div ng-if="step==4 && !genQuizRound.error && genQuizRound.ready" class="clickable neonbutton" ng-click="startGame()">
			<img src="/live/start_button_off.png" neon-image="" delay="500" />
		</div>
	</div>
</div>