<div class="text-center" ng-controller="livestart" delay="500">
	<div class="live-logo" live-logo=""
		uib-popover="GenQuizitive Live! is an interactive, genealogy game where groups of players join together and play with each other 'Live' over 
		the internet. One player logs into their online family tree and sets up a GenQuiz Live game. They invite other players to join their GenQuiz by 
		sharing that game's unique GenQuiz ID. When the game starts each player will have 2 minutes to answer the same question. The faster you answer a 
		question, the more points you receive.  Learn more by following the 'How to Play' link at the bottom of the page." 
				popover-trigger="'mouseenter'" popover-popup-delay="1000"
				popover-placement="right" popover-append-to-body="true"
				popover-class="live-popover" popover-is-open="false">
	</div>
	<div class="clickable homebutton" ng-click="createGame()">
		<img src="/live/create_button_off.png" neon-image="" delay="2000" 
				uib-popover="Use the 'Create' button to login to your family tree and start a new GenQuiz round to play.  Then invite your relatives to 'Join' in and play with you." 
				popover-trigger="'mouseenter'" popover-popup-delay="1000"
				popover-placement="right" popover-append-to-body="true"
				popover-class="live-popover" popover-is-open="false"/>
	</div>
	<div class="clickable homebutton" ng-click="joinGame()">
		<img src="/live/join_button_off.png" neon-image="" delay="2000" 
				uib-popover="Use the 'Join' button to play a GenQuiz round that someone else created.  You will need the unique GenQuiz ID to join their game." 
				popover-trigger="'mouseenter'" popover-popup-delay="1000"
				popover-placement="right" popover-append-to-body="true"
				popover-class="live-popover" popover-is-open="false"/>
	</div>
	<div ng-if="fsLoggedIn" class="clickable homebutton" ng-click="logout()" style="margin-top: 30px;">
		<img src="/live/logout_button_off.png" neon-image="" delay="1000" style="max-width: 120px;" 
				uib-popover="Logout from your family tree." 
				popover-trigger="'mouseenter'" popover-popup-delay="1000"
				popover-placement="right" popover-append-to-body="true"
				popover-class="live-popover" popover-is-open="false"/>
	</div>
	<div class="clickable homebutton" ng-click="watchTutorial()" style="margin-top: 10px;">
		<img src="/live/tutorial_button_off.png" neon-image="" delay="1000" style="max-width: 120px;" 
				uib-popover="Watch a tutorial video to learn how to play GenQuizitive Live!." 
				popover-trigger="'mouseenter'" popover-popup-delay="1000"
				popover-placement="right" popover-append-to-body="true"
				popover-class="live-popover" popover-is-open="false"/>
	</div>
	<div ng-show="adblocker" class="showthelove">
		<p>We have detected that you are using ad blocking tools.</p>
		<p>Ads provide revenue to keep GenQuizitive free.</p>
		<p>Please disable your ad blocker and refresh your browser in order to play the game.</p>
	</div>
</div>
<div class="footer text-center">
	<p>
		<a href="https://www.genquizitive.com/">About</a> | <a href="/privacy.html">Privacy Policy</a>
		| <a href="/howtoplay-live.html">How to Play</a>
	</p>
	<p style="font-size: smaller;">
		This site uses cookies for advertizing and personalization purposes.
		By creating or joining a game, you are agreeing to our <a href="/privacy.html">Privacy and Cookie Policy</a>.
	</p>
</div>