<div class="text-center" ng-controller="liveQuestionWait">
    <div class="live-title text-center">
		<img class="logo" src="/live/t_logo_d.png" />
		<img class="title-img" src="/live/waiting.png" />
	</div>
    <div class="tree text-center">
        <div style="line-height: 70px; margin-bottom: 20px;">
            <div style="display: inline-block; margin: 10px;">
                <strong>Waiting for players to finish question...</strong>
            </div>
        </div>
        <div style="width: 300px; margin-left: auto; margin-right: auto;">
            <table class="player-table">
                <tr ng-repeat="player in playerArray | orderBy: '-score'">
                    <td>{{player.name}}</td>
                    <td>{{player.score | number:0}}</td>
                </tr>
            </table>
        </div>
    </div>
    <div>
		<div class="clickable neonbutton" ng-click="leaveGame()">
			<img src="/live/leave_button_off.png" neon-image="" delay="500" />
		</div>
        <div class="buttonspacer">&nbsp;</div>
	</div>
</div>