<div class="text-center" ng-controller="livestart" delay="500">
	<div class="live-logo" live-logo=""></div>
	<div class="clickable homebutton" ng-click="createGame()">
		<img src="/live/create_button_off.png" neon-image="" delay="2000" />
	</div>
	<div class="clickable homebutton" ng-click="joinGame()">
		<img src="/live/join_button_off.png" neon-image="" delay="2000" />
	</div>
</div>
<div class="footer text-center">
	<a href="https://www.genquizitive.com/">About</a> | <a href="/privacy.html">Privacy Policy</a>
</div>