<div class="text-center" ng-controller="livefamilytree">
	<div class="live-title text-center">
		<img class="logo" src="/live/t_logo_d.png" />
		<img class="title-img" src="/images/create_game.png" />
	</div>
	<div class="tree">
		<div style="font-size: larger;">Family Tree Required</div>
		<div class="text-left">
			<p>A family tree account is required in order to create a new GenQuizitive Live game.
			By logging into FamilySearch you agree to allow GenQuizitive to read your
			family tree data. When you create a GenQuizitive Live game,
			your game will be given a game ID.  Only those with whom you share this game ID will
			be able to join your game and see your family tree data.</p>
			<p>
			Click the "Connect Family Tree" button below to connect with FamilySearch and begin setting up your 
			GenQuizitive Live game.
			</p>
		</div>
	</div>
	<div>
		<div class="clickable neonbutton" ng-click="leaveGame()">
			<img src="/live/back_button_off.png" neon-image="" delay="500" />
		</div>
		 <div class="buttonspacer">&nbsp;</div>
		 <div class="clickable neonbutton" ng-click="fsLogin()">
			<img src="/live/connect_button_off.png" neon-image="" delay="500" />
		</div>
	</div>
</div>