<div class="text-center" ng-controller="liveJoinGame">
	<div class="title-holder" style="margin-bottom:20px;">
		<img src="/images/create_game.png" style="height: 55px;" />
		<div class="smaller-logo" style="left: -80px; top: -80px;">
			<img id="home_arrows" src="/images/home_arrow1.png" />
			<img id="home_sign" src="/images/home_sign.png" />
		</div>
	</div>
    <div class="center-div">
        <div ng-if="!genQuizRound" class="tree text-center">
            <form class="form">
                <div>
                    Enter GenQuiz game id:
                </div>
                <div>
                    <input type="text" class="editable-id text-center" ng-model="data.genQuizId" spellcheck="false"  />
                    <div ng-show="idError" class="alert alert-danger">{{idError}}</div>
                </div>
                <div>
                    Enter your name:
                </div>
                <div>
                    <input type="text" ng-model="data.playerName"  class="editable-id text-center" spellcheck="false" />
                    <div ng-show="nameError" class="alert alert-danger">{{nameError}}</div>
                </div>
                <div style="margin-top: 20px;">
                    <button class="btn btn-primary" ng-click="joinGame()">Join!</button>
                </div>
            </form>
        </div>
        <div ng-if="genQuizRound" class="tree text-center">
            <div style="line-height: 70px; margin-bottom: 20px;">
                <div style="display: inline-block; margin: 10px;">
                    <strong>Successfully joined GenQuiz game for {{genQuizRound.person.display.name}}.</strong>
                </div>
                <div style="display: inline-block;" avatar-badge class="avatar ancestor-avatar avatar-small" src="genQuizRound.person.portrait" label="genQuizRound.person.display.name"></div>
            </div>
            <h4>Waiting for next question...</h4>
        </div>
        <div>
            <a class="arrow-button" href="javascript:void(0)" ng-click="leaveGame()" style="width: 230px; display: inline-block;">
                <img src="/images/button_sign_arrow_left.png" />
                <div class="button-text">Back to Home</div>
            </a>
        </div>
    </div>
</div>