<div class="text-center" ng-controller="challengeController">
	
	<div class="center-div" style="position: relative; width: 460px; height: 100%;">
		<img style="position: absolute; top: 500px; left: 100px; width: 20px; height: 270px;" src="pole1.png" />
		<img style="position: absolute; top: 500px; right: 100px; width: 20px; height: 270px;" src="pole1.png" />
		<div class="friend-holder">
			<img src="lights2.png" class="hlights" style="position: absolute; top: -18px; left: -18px;" />
			<img src="lights2.png" class="hlights" style="position: absolute; top: -18px; left: 46px;" />
			<img src="lights2.png" class="hlights" style="position: absolute; top: -18px; left: 112px;" />
			<img src="lights2.png" class="hlights" style="position: absolute; top: -18px; left: 176px;" />
			<img src="lights2.png" class="hlights" style="position: absolute; top: -18px; left: 240px;" />
			<img src="lights2.png" class="hlights" style="position: absolute; top: -18px; left: 304px;" />
			<img src="lights2.png" class="hlights" style="position: absolute; top: -18px; left: 368px;" />
			<img src="lightsv1.png" class="vlights" style="position: absolute; top: 0px; left: 416px;" />
			<img src="lightsv1.png" class="vlights" style="position: absolute; top: 66px; left: 416px;" />
			<img src="lightsv1.png" class="vlights" style="position: absolute; top: 132px; left: 416px;" />
			<img src="lightsv1.png" class="vlights" style="position: absolute; top: 198px; left: 416px;" />
			<img src="lightsv1.png" class="vlights" style="position: absolute; top: 264px; left: 416px;" />
			<img src="lightsv1.png" class="vlights" style="position: absolute; top: 330px; left: 416px;" />
			<img src="lightsv1.png" class="vlights" style="position: absolute; top: 392px; left: 416px;" />
			<img src="lightsv1.png" class="vlights" style="position: absolute; top: 456px; left: 416px;" />
			<img src="lightsv1.png" class="vlights" style="position: absolute; top: 0px; left: -18px;" />
			<img src="lightsv1.png" class="vlights" style="position: absolute; top: 66px; left: -18px;" />
			<img src="lightsv1.png" class="vlights" style="position: absolute; top: 132px; left: -18px;" />
			<img src="lightsv1.png" class="vlights" style="position: absolute; top: 198px; left: -18px;" />
			<img src="lightsv1.png" class="vlights" style="position: absolute; top: 264px; left: -18px;" />
			<img src="lightsv1.png" class="vlights" style="position: absolute; top: 330px; left: -18px;" />
			<img src="lightsv1.png" class="vlights" style="position: absolute; top: 392px; left: -18px;" />
			<img src="lightsv1.png" class="vlights" style="position: absolute; top: 456px; left: -18px;" />
			<img src="lights2.png" class="hlights" style="position: absolute; top: 528px; left: -18px;" />
			<img src="lights2.png" class="hlights" style="position: absolute; top: 528px; left: 46px;" />
			<img src="lights2.png" class="hlights" style="position: absolute; top: 528px; left: 112px;" />
			<img src="lights2.png" class="hlights" style="position: absolute; top: 528px; left: 176px;" />
			<img src="lights2.png" class="hlights" style="position: absolute; top: 528px; left: 240px;" />
			<img src="lights2.png" class="hlights" style="position: absolute; top: 528px; left: 304px;" />
			<img src="lights2.png" class="hlights" style="position: absolute; top: 528px; left: 368px;" />
			<img src="challenge_a_friend.png" style="position: relative;" />
			<div avatar-badge src="friend.picture.data.url" class="avatar" label="friend.shortName"
				style="margin: 10px 12px 10px 12px; cursor: pointer;" ng-repeat="friend in friends" ng-click="chooseFriend(friend);"></div>
		</div>
		
		<div style="position: absolute; left: -15px; top: 670px;">
			<a class="arrow-button" href="#/menu">
				<img src="button_sign_arrow_left.png" />
				<div class="button-text">Back to Menu</div>
			</a>
		</div>
		
		<div style="position: absolute; right: -15px; top: 670px;">
			<a class="arrow-button" ng-click="invite()">
				<img src="button_sign_arrow_right.png" />
				<div class="button-text">Invite a Friend</div>
			</a>
		</div>
		
		<div class="smaller-logo" style="left: -60px; top: 20px;">
			<img id="home_arrows" src="home_arrow1.png" />
			<img id="home_sign" src="home_sign.png" />
		</div>
	</div>
</div>