body {
	background-image: url('home_background.jpg');
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	background-position: left center;
}
.center-logo {
	width: 50%;
	height: 100%;
	max-height: 100%;
	max-width: 50%;
	margin-bottom: 0px;
	margin-left: auto;
	position: relative;
	min-width: 300px;
}
.center-logo img {
	position: absolute;
}
.center-logo span {
	color: #ece8be;
	font-weight: bold;
}

#home_sign {
	top: 4%;
	margin-top: 10%;
	left: 0px;
	width: 65%;
	min-width: 200px;
}
#home_arrows {
	top: 4%;
	left: 0px;
	margin-left: 10%;
	width: 49%;
	min-width: 150px;
}
#home_pole {
	margin-left: 28%;
	left: 0px;
	top: 25%;
	height: 75%;
	width: 3%;
	min-width: 10px;
}
#button1 {
	left: 0px;
	margin-left: 7%;
	width: 45%;
	min-width: 140px;
	top: 0px;
	margin-top: 68%;
	cursor: pointer;
}
#facebook {
	position: absolute;
	left: 0px;
	margin-left: 10%;
	width: 40%;
	min-width: 100px;
	top: 0px;
	margin-top: 71%;
	color: white;
	font-size: 170%;
	cursor: pointer;
}
#button2 {
	left: 0px;
	margin-left: 7%;
	width: 45%;
	min-width: 140px;
	top: 0px;
	margin-top: 88%;
	cursor: pointer;
}
#familysearch {
	position: absolute;
	left: 0px;
	margin-left: 10%;
	width: 40%;
	min-width: 100px;
	top: 0px;
	margin-top: 91%;
	color: white;
	font-size: 170%;
	cursor: pointer;
}
#menubuttons {
	position: absolute;
	left: 0px;
	margin-left: 7%;
	width: 45%;
	min-width: 140px;
	top: 0px;
	margin-top: 35%;
	height: 50%;
}
.arrow-button {
	position: relative;
	margin-top: 10px;
	width: 100%;
	text-decoration: none;
	font-size: 170%;
	font-weight: bold;
	color: #FAFAFA;
	text-align: center;
}
.arrow-button:hover {
	color: white;
	text-decoration: none;
}
.arrow-button img {
	position: relative;
	width: 100%;
}
.arrow-button img.left {
	left: -10px;
}
.arrow-button img.right {
	left: 10px;
}
.arrow-button .button-text {
	position: absolute;
}
.small-logo {
	position: absolute;
	top: 20px;
	left: 200px;
}
.small-logo #home_sign {
	position: absolute;
	width: 150px;
}
.small-logo #home_arrows {
	position: absolute;
	width: 125px;
}