
body {
	background-color: #f6f6f6;
}
.navbar-brand {
    line-height: 48px;
    padding-top: 0px;
}
#page-top {
	margin-top: 50px;
	background-image: url("home_background.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}
#play-button {
	width: 10vw;
	position: absolute;
	float: left;
}
.navbar-toggle {
	float: left;
}
.howto {
	margin-top: 50px;
}
.embed-responsive {
	margin-bottom: 8%;
	margin-top: 8%;
}
.top-logo {
	margin-top: 30px;
	margin-left: auto;
	margin-right: auto;
}
.road-sign {
	background-image: url(roadsign.png);
    background-repeat: no-repeat;
	background-size: contain;
    color: white;
    text-align: center;
    font-size: 22px;
	width: 350px;
	height: 250px;
	margin-top: 20px;
	padding-top: 30px;
	padding-bottom: 15px;
	margin-left: 45px;
	padding-left: 10px;
	padding-right: 10px;
}
#video {
	position: relative;
    margin-top: 30px;
	padding: 22px 0px 0px 60px;
}
#tv {
	position: absolute;
	top: 0px;
	left: 0px;
	z-index: 1;
}
#youtubelink {
	position: absolute;
    left: 392px;
    top: 168px;
    font-size: 40px;
    color: #7c3108;
    text-decoration: none;
    z-index: 2;
    background-color: #e1dec4;
    width: 39px;
}
#youtubelink:hover {
	color: #9c5128;
	text-decoration: none;
}
.container {
	margin-bottom: 20px;
	margin-top: 20px;
}
.socialbuttons {
    position: absolute;
    right: 10px;
    top: -5px;
}

.socialmedia {
    font-size: 40px;
}
.mainNave .socialmedia {
    margin-top: 0px;
    margin-right: 10px;
    margin-bottom: 0px;
    font-size: 35px;
    line-height: 40px;
}

header {
	margin-top: 0px;
	background: url(wood_back.png) no-repeat center center scroll;
	background-size: cover;
	color: #DDDDDD;
}
header .header-content, section .container, section .container-fluid{
	width: 85%;
	margin-left: auto;
	margin-right: auto;
}
.header-content {
    margin-top: 50px;
    padding: 20px;
    margin-bottom: 50px;
}
.main-icon {
    margin-bottom: 20px;
    width: 100%;
    max-width: 500px;
}
.logo-text-img {
	margin-top: 25%;
	width: 100%;
	max-width: 600px;
}
.subtitle {
    margin-top: 60px;
    margin-bottom: 30px;
    line-height: 50px;
}
.small-title h3 {
    line-height: 35px;
    margin-bottom: 20px;
}
.small-title {
	display: none;
}

.fb-page.small {
	display: none;
}
#genquizitive-button {
	margin: 0px;
}
.play-online {
	border-radius: 10px;
	/*background-color: rgba(0, 160, 160, 0.5);*/
	font-size: 18px;
	font-weight: bold;
	margin-top: 20px;
	padding: 10px;
	position: relative:
	
}

.sign_button {
	background-image: url(button_sign_arrow_right.png);
    font-size: 20px;
    font-weight: bold;
    color: #eee;
    overflow: hidden;
    padding: 10px;
    text-align: center;
    position: relative;
    width: 225px;
    height: 50px;
	margin-bottom: 15px;
	margin-top: 25px;
}

.letter {
	background: url(button_yellow_circle.png);
    width: 72px;
    height: 74px;
    display: inline-block;
    color: #333;
    font-size: 50px;
    font-weight: bold;
    text-align: center;
    line-height: 80px;
    padding-left: 5px;
    font-family: monospace;
	margin-bottom: 10px;
}