body {
	background-image: url('home_background.jpg');
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	background-position: left center;
}
.center-logo {
	position: relative;
	left: 45%;
	width: 50%;
	height: 100%;
}
.center-logo img {
	position: absolute;
}
.center-logo span {
	color: #ece8be;
	font-weight: bold;
}

#home_sign {
	left: 0px;
	top: 80px;
}
#home_arrows {
	left: 70px;
	top: 53px;
}
#home_pole {
	top: 215px;
	left: 140px;
	width: 25px;
	height: 75%;
}
#button1 {
	left: 30px;
	top: 350px;
	width: 240px;
	cursor: pointer;
}
#facebook {
	position: absolute;
	left: 40px;
	top: 365px;
	width: 230px;
	color: white;
	font-size: 160%;
	cursor: pointer;
}
#facebook .avatar {
	position: absolute;
	left: -65px;
	top: -10px;
}
#button2 {
	left: 30px;
	top: 465px;
	width: 250px;
	cursor: pointer;
}
#familysearch {
	position: absolute;
	left: 40px;
	top: 480px;
	width: 230px;
	color: white;
	font-size: 160%;
	cursor: pointer;
}
#menubuttons {
	position: absolute;
	left: 22px;
	top: 250px;
	height: 50%;
	width: 260px;
}
.arrow-button {
	display: block;
	position: relative;
	margin-top: 10px;
	width: 100%;
	height: 50px;
	text-decoration: none;
	font-size: 150%;
	font-weight: bold;
	color: #FAFAFA;
	text-align: center;
	cursor: pointer;
}
.arrow-button:hover {
	color: white;
	text-decoration: none;
}
.arrow-button.arrow-left {
	left: -14px;
}
.arrow-button.arrow-right {
	left: 13px;
}
.arrow-button img {
	position: relative;
}
.arrow-button .button-text {
	position: absolute;
	width: 100%;
	top: 10px;
}
.small-logo {
	position: absolute;
	top: 10px;
	left: 20%;
	width: 400px;
}
.small-logo #home_sign {
	position: absolute;
	width: 250px;
	top: 75px;
	left: 0px;
}
.small-logo #home_arrows {
	position: absolute;
	width: 165px;
	left: 60px;
}

.smaller-logo {
	position: absolute;
	top: 10px;
	left: 20%;
	width: 150px;
	height: 150px;
}
.smaller-logo #home_sign {
	position: absolute;
	width: 125px;
	top: 35px;
	left: 0px;
}
.smaller-logo #home_arrows {
	position: absolute;
	width: 82px;
	left: 30px;
	top: 25px;
}

.notification {
	position: absolute;
	top: -500px;
	left: 300px;
	width: 500px;
	height: 300px;
	background-image: url('notification_background.png');
	z-index: 1000;
}
.notification .title {
	position: relative;
	color: white;
	font-size: 200%;
	font-weight: bold;
	top: 20px;
	left: 205px;
}
.notification .message {
	position: relative;
	color: white;
	width: 450px;
	margin-top: 40px;
	left: 40px;
	overflow: hidden;
	height: 250px;
	font-size: 150%;
}
.notification .closebutton {
	position: absolute;
	right: 20px;
	bottom: 20px;
}
.countdown {
	background-image: url('gear_sign.png');
	width: 400px;
	height: 197px;
	margin-left: auto;
    margin-right: auto;
}
.movable {
	cursor: move;
}
.avatar {
	position: relative;
	width: 100px;
	height: 90px;
	background-image: url('avatar_badge.png');
	margin: 0px;
	display: inline-block;
}
.ancestor-avatar {
	background-image: url('ancestor_badge.png');
}
.avatar img {
	position: relative;
	display: block;
    top: 8px;
    width: 72px;
    height: 72px;
    border-radius: 50%;
    left: 15px;
}
.avatar .avatar-label {
	position: absolute;
	top: 70px;
	width: 100%;
	display: block;
	text-align: center;
	background-color: #ebe9d5;
	border: solid black 1px;
	border-radius: 5px;
	font-size: 10pt;
	color: #333;
	padding: 2px;
	line-height: 100%;
}
.question-holder {
	position: relative;
	max-width: 500px;
	height: 100%;
	margin-left: auto;
	margin-right: auto;
}
.rounded-red {
	position: relative;
	background-color: #aa1313;
	border-radius: 30px;
	box-shadow: -7px 7px 3px #222;
}
.rounded-red img {
	border-radius: 30px;
}
.answer-button {
	cursor: pointer;
	overflow: hidden;
	text-align: center;
	color: white;
	font-size: 150%;
	width: 100%;
    height: 100%;
}
.yellow_answer_button .answer-button {
	color: #333333;
}
.trap1 .answer-button {
	padding-right: 20px;
}
.question-block {
	background-color: #ebe9d5;
	border-radius: 20px;
	border: solid black 1px;
	box-shadow: -7px 7px 3px #222;
	padding: 10px;
	font-size: 200%;
	overflow-x: hidden;
	overflow-y: hidden;
	line-height: 150%;
}
.nobackground {
	background: none;
	box-shadow: none;
}
.noborder {
	border: none;
}
.green-question-block {
	background-color: #076240;
	border-radius: 20px;
	border: solid #dad9d9 6px;
	box-shadow: -5px 5px 3px #222;
	padding: 15px;
	font-size: 200%;
	overflow-x: hidden;
	overflow-y: auto;
	line-height: 150%;
	color: white;
}
.timer {
	position: relative;
	width: 150px;
	height: 87px;
	background-image: url('timer.png');
	color: white;
	text-align: center;
	line-height: 87px;
	font-size: 50px;
	font-family: fixed;
}
.active-tree-spot {
	border: solid 2px #edc833;
	border-radius: 10px;
}
.inactive-tree-spot {
	border: solid 2px #800000;
	border-radius: 10px;
}
.guage {
	position: relative;
	width: 98px;
	height: 98px;
	background-image: url('guage_back.png');
}
.guage img {
	position: absolute;
	left: 0px;
	top: 0px;
}
.guage .guage-label {
	position: absolute;
    color: black;
    font-size: 8px;
    text-align: center;
    bottom: 18px;
    width: 100%;
}
.dashboard {
	position: relative;
	background-color: #dee3e6;
    border-radius: 15px;
    border: ridge 7px #3471ca;
    box-shadow: -5px 5px 3px #333;
}

.friend-holder {
	position: absolute;
	background-color: 066c46;
	width: 456px;
	height: 566px;
	left: 33%;
	top: 100px;
	padding: 10px;
	border: solid #f2db7f 20px;
}

.title-holder {
	position: relative;
	background-color: 066c46;
	padding: 10px;
	border: sold #d1d3d4 3px;
	margin-left: auto;
	margin-right: auto;
}

.center-div {
	margin-left: auto;
	margin-right: auto;
}

.loading-sign {
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: contain;
	background-position: center;
}

@media (max-width: 767px) {
	.center-logo {
		left: 22%;
	}
	.small-logo {
		left: 0%;
		top: 0px;
	}
}	