<div class="text-center" ng-controller="getstarted">
	<div class="center-logo">
		<img id="home_pole" src="pole1.png" />
		<img id="home_arrows" src="home_arrow1.png" />
		<img id="home_sign" src="home_sign.png" />
		<img id="button1" src="button_blue_oval.png" ng-click="play()" />
		<div id="facebook" ng-click="fbLogin()">
			<span ng-show="!fbLoggedIn">Connect to<br/>Facebook</span>
			<span ng-show="fbLoggedIn">Welcome<br/>{{fbUserName}}</span>
		</div>
		<img id="button2" src="button_blue_oval.png" />
		<div id="familysearch" ng-click="fsLogin()">
			<span ng-show="!fsLoggedIn">Connect to<br/>FamilySearch</span>
			<span ng-show="fsLoggedIn">Welcome<br/>{{fsUserName}}</span>
		</div>
	</div>
</div>