<div class="text-center" ng-controller="menuController">
	<style>
		.connect-button {
			width: 200px; 
			height: 81px; 
			font-size: 20px; 
			padding-top: 9px; 
			cursor: pointer; 
			color: white; 
			background-image: url('button_blue_oval.png');
		}
	</style>
	<div class="center-logo">
		<img id="home_pole" src="pole1.png" />
		<div id="menubuttons">
			<a class="arrow-button arrow-left" ng-click="launchPractice()">
				<img src="button_sign_arrow_left.png" />
				<div class="button-text">Practice Round</div>
			</a>
			<a class="arrow-button arrow-right" ng-click="launchChallenge()">
				<img src="button_sign_arrow_right.png" />
				<div class="button-text">Challenge a Friend</div>
			</a>
			<a class="arrow-button arrow-left" ng-click="launchContinue()">
				<img src="button_sign_arrow_left.png" />
				<div class="button-text">Continue GenQuiz</div>
			</a>
		</div>
	</div>
	<div class="small-logo">
		<img id="home_arrows" src="home_arrow1.png" />
		<img id="home_sign" src="home_sign.png" />
		<div style="position: absolute; left: 70px; top: 260px;">
			<div avatar-badge src="pictureUrl" class="avatar"></div>
		</div>
		<div ng-if="!hasFacebook" class="text-center connect-button" ng-click="fbLogin()" style="position: absolute; top: 350px; left: 20px;">
			Connect to<br/>Facebook
		</div>
		<div ng-if="!hasFamilyTree" class="text-center connect-button" ng-click="fsLogin()" style="position: absolute; top: 350px; left: 20px;">
			Connect to FamilySearch
		</div>
	</div>
</div>