<div class="modal-body" style="min-height: 300px;">
	<div ng-if="$ctrl.memories.length > 0" class="person-comp person-memories" uib-carousel active="$ctrl.active" interval="5000">
		<div uib-slide ng-repeat="memory in $ctrl.memories track by memory.id" index="$index">
			<img ng-src="{{memory.src}}" class="img-responsive" style="margin:auto;" />
			<div class="carousel-caption">
				<h4>{{memory.titles[0].value}}</h4>
			</div>
		</div>
	</div>
	
	<div class="person-comp">
		<h4>{{$ctrl.person.display.name}}</h4>
		<div class="table-responsive">
		<table class="table">
			<tbody>
				<tr><td>Gender</td><td>{{$ctrl.person.display.gender}}</td></tr>
				<tr ng-if="$ctrl.person.display.birthDate || $ctrl.person.display.birthPlace"><td>Birth</td><td>{{$ctrl.person.display.birthDate}} - {{$ctrl.person.display.birthPlace}}</td></tr>
				<tr ng-if="$ctrl.person.display.deathDate || $ctrl.person.display.deathPlace"><td>Death</td><td>{{$ctrl.person.display.deathDate}} - {{$ctrl.person.display.deathPlace}}</td></tr>
			</tbody>
		</table>
		</div>
	</div>
	
	<div ng-if="$ctrl.person.facts.length > 1" class="person-comp person-timeline text-center">
		<img src="pole1.png" style="position: absolute; left: 27px; top: 25px; width: 5px; z-index: 0;" ng-style="$ctrl.poleStyle" />
		<div class="timeline-fact" timeline-fact="" fact="fact" person="$ctrl.person" ng-repeat="fact in $ctrl.facts"></div>
	</div>
	
	<div class="person-comp person-tree">
		<div class="tree-row" ng-if="$ctrl.gParents.length>0">
			<div class="person-or-spacer" ng-repeat="person in $ctrl.gParents track by $index">
				<div ng-if="person=='spacer'" class="person-spacer"><div>?</div></div>
				<div ng-if="person!='spacer'" avatar-badge class="avatar ancestor-avatar" src="person.portrait" label="person.display.name" style="display: inline-block;"></div>
			</div>
		</div>
		<div class="tree-row" ng-if="$ctrl.parents.length>0">
			<div class="person-or-spacer" ng-repeat="person in $ctrl.parents track by $index">
				<div ng-if="person=='spacer'" class="person-spacer"><div>?</div></div>
				<div ng-if="person!='spacer'" avatar-badge class="avatar ancestor-avatar" src="person.portrait" label="person.display.name" style="display: inline-block;"></div>
			</div>
		</div>
		<div class="tree-row">
			<div ng-if="!$ctrl.hasSpouses" avatar-badge class="avatar ancestor-avatar" label="$ctrl.person.display.name" src="$ctrl.person.portrait" style="display: inline-block;"></div>
			<div class="spouse-tree" ng-repeat="spouseTree in $ctrl.spouseTrees">
				<div class="tree-row">
					<div avatar-badge class="avatar ancestor-avatar" src="$ctrl.person.portrait" label="$ctrl.person.display.name" style="display: inline-block;"></div>
					<div avatar-badge class="avatar ancestor-avatar" ng-if="spouseTree.spouse" src="spouseTree.spouse.portrait" label="spouseTree.spouse.display.name" style="display: inline-block;"></div>
				</div>
				<div class="tree-row" ng-if="$ctrl.parents.length>0">
					<div avatar-badge class="avatar ancestor-avatar" src="person.portrait" label="person.display.name" ng-repeat="person in spouseTree.children" style="display: inline-block;"></div>
				</div>
			</div>
		</div>
	</div>
	
	<div class="person-comp person-map">
		<ng-map class="person-fact-map">
			<custom-marker class="fact-place" ng-repeat="place in $ctrl.places track by $index" id="fact-{{$index}}" position="{{place.pos}}">
				<div class="place">
					{{place.display.fullName}}
				</div>
				<div class="fact" ng-repeat="fact in place.facts track by $index">
					<span class="fact-type">{{fact.factLabel}} {{fact.value}}</span><br /><span class="fact-date">{{fact.date.original}}</span>
				</div>
			</custom-marker>
		</ng-map>
	</div>
</div>
