<div class="modal-body" style="min-height: 300px;">
	<div ng-if="$ctrl.memories.length > 0" class="person-comp person-memories" uib-carousel active="$ctrl.active" interval="5000">
		<div uib-slide ng-repeat="memory in $ctrl.memories track by memory.id" index="$index">
			<img ng-src="{{memory.src}}" class="img-responsive" style="margin:auto;" />
			<div class="carousel-caption">
				<h5>{{memory.titles[0].value}}</h5>
			</div>
		</div>
	</div>
	
	<div class="person-comp person-display">
		<h4>{{$ctrl.person.display.name}}</h4>
		<div class="table-responsive">
		<table class="table">
			<tbody>
				<tr><td>Gender</td><td>{{$ctrl.person.display.gender}}</td></tr>
				<tr ng-if="$ctrl.person.display.birthDate || $ctrl.person.display.birthPlace"><td>Birth</td><td>{{$ctrl.person.display.birthDate}} - {{$ctrl.person.display.birthPlace}}</td></tr>
				<tr ng-if="$ctrl.person.display.deathDate || $ctrl.person.display.deathPlace"><td>Death</td><td>{{$ctrl.person.display.deathDate}} - {{$ctrl.person.display.deathPlace}}</td></tr>
			</tbody>
		</table>
		</div>
	</div>
	
	<div ng-if="$ctrl.lifeSketch" class="person-comp person-life-sketch">
		{{$ctrl.lifeSketch.value}}
	</div>
	
	<div ng-if="$ctrl.person.facts.length > 1" class="person-comp person-timeline text-center">
		<img src="pole1.png" style="position: absolute; left: 27px; top: 25px; width: 5px; z-index: 0;" ng-style="$ctrl.poleStyle" />
		<div class="timeline-fact timeline-fact-small" timeline-fact="" fact="fact" person="$ctrl.person" ng-repeat="fact in $ctrl.facts"></div>
	</div>
	
	<div ng-if="$ctrl.relationship" class="person-comp person-relationship text-center">
		<h5>{{$ctrl.relationship.relationship}}</h5>
		<div style="position: relative;">
			<svg style="position: absolute; width: 240px; height: 100px; left: 0px;">
				<line x1="70" y1="70" x2="120" y2="50" style="stroke:#157376;stroke-width:3" ng-if="$ctrl.relationship.path1.length > 1"></line>
				<line x1="140" y1="50" x2="210" y2="70" style="stroke:#157376;stroke-width:3" ng-if="$ctrl.relationship.path2.length > 1"></line>
			</svg>
			<div avatar-badge class="avatar ancestor-avatar avatar-small" src="$ctrl.relationship.path1[0].portrait" label="$ctrl.relationship.path1[0].display.name"></div>
			<div avatar-badge class="avatar ancestor-avatar avatar-small" ng-if="$ctrl.relationship.path2.length > 0 && $ctrl.relationship.path1[0].id != $ctrl.relationship.path2[0].id" src="$ctrl.relationship.path2[0].portrait" label="$ctrl.relationship.path2[0].display.name"></div>
		</div>
		<div class="col-sm-6">
			<div ng-repeat="person in $ctrl.relationship.path1" ng-if="!$first" avatar-badge class="avatar ancestor-avatar avatar-small" src="person.portrait" label="person.display.name"></div>
		</div>
		<div class="col-sm-6">
			<div ng-repeat="person in $ctrl.relationship.path2" ng-if="!$first" avatar-badge class="avatar ancestor-avatar avatar-small" src="person.portrait" label="person.display.name"></div>
		</div>
	</div>
	
	<div class="person-comp person-tree">
		<svg style="position: absolute; width: 500px; height: 200px;">
			<line x1="170" y1="50" x2="220" y2="90" style="stroke:#157376;stroke-width:3"></line>
			<line x1="260" y1="50" x2="220" y2="90" style="stroke:#157376;stroke-width:3"></line>
  			<line x1="295" y1="50" x2="335" y2="90" style="stroke:#157376;stroke-width:3"></line>
			<line x1="385" y1="50" x2="335" y2="90" style="stroke:#157376;stroke-width:3"></line>
  			<line x1="220" y1="145" x2="280" y2="180" style="stroke:#157376;stroke-width:3"></line>
			<line x1="330" y1="145" x2="280" y2="180" style="stroke:#157376;stroke-width:3"></line>
		</svg>
		<div class="tree-row" ng-if="$ctrl.gParents.length>0">
			<div class="person-or-spacer" ng-repeat="person in $ctrl.gParents track by $index">
				<div ng-if="person=='spacer'" class="person-spacer"><div>?</div></div>
				<div ng-if="person!='spacer'" avatar-badge class="avatar ancestor-avatar avatar-small" src="person.portrait" label="person.display.name"></div>
			</div>
		</div>
		<div class="tree-row parents-row" ng-if="$ctrl.parents.length>0">
			<div class="person-or-spacer" ng-repeat="person in $ctrl.parents track by $index">
				<div ng-if="person=='spacer'" class="person-spacer"><div>?</div></div>
				<div ng-if="person!='spacer'" avatar-badge class="avatar ancestor-avatar avatar-small" src="person.portrait" label="person.display.name"></div>
			</div>
		</div>
		<div class="tree-row">
			<div ng-if="!$ctrl.hasSpouses" avatar-badge class="avatar ancestor-avatar avatar-small" label="$ctrl.person.display.name" src="$ctrl.person.portrait"></div>
			<div class="spouse-tree" ng-repeat="spouseTree in $ctrl.spouseTrees">
				<svg style="position: absolute; width: 100%; height: 150px; left:0px;">
					<line ng-if="spouseTree.spouse" x1="{{130 + spouseTree.lineOffset}}" y1="29" x2="{{165 + spouseTree.lineOffset}}" y2="29" style="stroke:#157376;stroke-width:5" class="ng-scope"></line>
					<line ng-if="spouseTree.children.length>0" x1="{{145 + spouseTree.lineOffset}}" y1="29" x2="{{145 + spouseTree.lineOffset}}" y2="70" style="stroke:#157376;stroke-width:5" class="ng-scope"></line>
					<line ng-repeat="line in spouseTree.lines" x1="{{line}}" y1="90" x2="{{145 + spouseTree.lineOffset}}" y2="70" style="stroke:#157376;stroke-width:3" class="ng-scope"></line>
				</svg>
				<div class="tree-row">
					<div avatar-badge class="avatar ancestor-avatar avatar-small" src="$ctrl.person.portrait" label="$ctrl.person.display.name" style="margin-left: 80px;"></div>
					<div avatar-badge class="avatar ancestor-avatar avatar-small" ng-if="spouseTree.spouse" src="spouseTree.spouse.portrait" label="spouseTree.spouse.display.name" style="display: inline-block;"></div>
				</div>
				<div class="tree-row" ng-if="$ctrl.parents.length>0">
					<div avatar-badge class="avatar ancestor-avatar avatar-small" src="person.portrait" label="person.display.name" ng-repeat="person in spouseTree.children"></div>
				</div>
			</div>
		</div>
	</div>
	
	<!--
	<div class="person-comp person-map">
		<ng-map class="person-fact-map">
			<custom-marker class="fact-place" ng-repeat="place in $ctrl.places track by $index" id="fact-{{$index}}" position="{{place.pos}}">
				<div class="place">
					{{place.display.fullName}}
				</div>
				<div class="fact" ng-repeat="fact in place.facts track by $index">
					<span class="fact-type">{{fact.factLabel}} {{fact.value}}</span><br /><span class="fact-date">{{fact.date.original}}</span>
				</div>
			</custom-marker>
		</ng-map>
	</div>
	-->
</div>
