<div class="text-center" ng-controller="testPersonController">
	<style>
		.person-block {
			display: inline-block;
			width: 350px;
			border-radius: 10px;
			border: solid black 1px;
			box-shadow: -3px 3px 3px #222;
			background-color: #fafafa;
			margin: 10px;
			padding: 5px;
		}
		.person-block .person-display {
			display: inline-block;
			font-size: 12px;
			width: 220px;
			margin-left: 5px;
			margin-bottom: 5px;
		}
		.person-block .person-display .person-name {
			font-size: 14px;
		}
	</style>
	<div class="person-block" ng-repeat="person in people">
		<div avatar-badge src="person.portrait" label="person.display.name" class="avatar ancestor-avatar clickable" 
				uib-tooltip="Click to learn more about this person." tooltip-popup-delay="300" 
				ng-click="showPersonDetails(person)"></div>
		<div class="person-display text-left">
			<strong>Gender:</strong> {{person.display.gender}}<br />
			<strong>Birth:</strong> {{person.display.birthDate}} - {{person.display.birthPlace}}<br />
			<strong>Death:</strong> {{person.display.deathDate}} - {{person.display.deathPlace}}<br />
		</div>
	</div>
</div>