<div class="question-holder" ng-controller="timelineController">
	
	<div class="question-block" style="position: absolute; left: 35px; top: 10px; width: 400px; height: 150px;">
		{{questionText}}
	</div>
	<div avatar-badge ng-if="question.person.portrait" class="avatar ancestor-avatar" src="question.person.portrait" style="position: absolute; left: 410px; top: 40px;"></div>
	
	<div class="timeline-block" sortable-timeline="" style="position: relative; top: 175px; left: 35px;">
		<img src="/images/pole1.png" style="position: absolute; left: 50px; top: 50px; width: 10px; z-index: 0;" ng-style="poleStyle" />
		<div class="timeline-fact movable" ng-class="fact.factClass" timeline-fact="" fact="fact" person="question.person" ng-repeat="fact in facts"></div>
	</div>
</div>